textarea {
    width: 750px;
    height: 150px;
}

.contentedit {
    width: 750px;
    height: 150px;
    border: 1px solid #CCCCCC;
}

.filemanager {
    margin-top: 5px;
}

.filemanagersave {
    margin-top: 5px;
}
